/* SASS VARIABLES */
$font-stack: 'Gill Sans', Montserrat, Helvetica;
$media-phone: "only screen and (max-width: 720px)";
$nav-height: 50px;

/* MIXINS */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

/* MAIN STYLES */
body {
  font-family: $font-stack;
  margin: 0;
  position: relative;
}

.status-box {
  position: relative;
  top: 0;
  left: 0;

  margin: 0 auto;
  padding-top: $nav-height;
  height: 100%;
  @include transform(translate3d(0, -120%, 0));
}

.map-box {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 178px);
  z-index: 1;
  @include transform(translate3d(0, -120%, 0));
  @include transition(-webkit-transform ease 250ms);
  @include transition(transform ease 250ms);
}

.visible {
  @include transform(translate3d(0, 0, 0));
}

.loading-text {
  position: relative;
  top: 50%;
  text-align: center;
}

.config {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;
  background: rgba(0, 0, 0, 0.8);
  .nav-items {
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      line-height: $nav-height;
      padding: 0px 20px;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
    }
    &.nav-items-left {
      position: absolute;
      left: 40px;
      top: 0;
    }
    &.nav-items-right {
      position: absolute;
      right: 40px;
      top: 0;
    }
  }
}

.box {
  margin-top: 1em;
}

main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: visible;

  @media #{$media-phone} {
    width: 300px;
  }
}

footer {
  font-size: 24px;
  margin: 0 200px;
  position: fixed;
  height: 30px;
  bottom: 0;
}

.status-item {
  margin-top: 50px;
  ul {
    list-style-type: none;
  }
}

article {
  box-sizing: border-box;
  z-index: 2;
  left: 50%;
  top: 30%;
  position: absolute;
  width: 400px;
  height: auto;
  margin: -200px 0 0 -200px;
  background-color: white;
  padding: 2em;
  border-radius: 2em;

  @media #{$media-phone} {
    width: 300px;
    margin: -150px 0 0 -150px;
  }
}
