<!DOCTYPE 5>
<html>                                                                                                 
  <head>                                                                                               
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/stylesheet.css"/>
  </head>
  <body>
    <header class="config">                                                                                    
      <article>
        <div class="notifications"></div>
      </article>
    </header>
    <main>
      <div class="info clearfix">                                                                               
        <div class="adherence"></div>
        <div class="timestamp"></div>
        <div class="direction"></div>
      </div>
      <div class="news">
        <p></p>
      </div>
    </main>
    <footer class="controls">
        <a href="" class="reset">Reset</a>
        <noscript>Whoops, looks like you don't have Javascript enabled. The site won't really work without it, so enable that if you can</noscript>
    </footer>
  </body>
</html>
