<!DOCTYPE 5>
<html>                                                                                                 
  <head>                                                                                               
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/stylesheet.css"/>
  </head>
  <body>
    <nav class="config">
      <ul class="nav-items nav-items-left">
        <li>MENU</li>
      </ul> 
      <ul class="nav-items nav-items-right">
        <li id="map-toggle-handler">MAP</li>
      </ul> 
    </nav>
    <main>
      <div id="status">
        <div class="info clearfix">                                                                               
          <div class="adherence"></div>
          <div class="timestamp"></div>
          <div class="direction"></div>
          <div class="news">
            <p></p>
          </div>
        </div>
      </div>
      <div id="map">
        <p></p>
      </div>
    </main>
    <footer class="controls">
        <noscript>Whoops, looks like you don't have Javascript enabled. The site won't really work without it, so enable that if you can</noscript>
    </footer>
  </body>
  <script src="/static/lib/underscore-min.js"></script>
  <script src="/static/js/api.js"></script>
  <script src="/static/lib/react.js"></script>
  <script src="/static/lib/JSXTransformer.js"></script>
  <script type="text/jsx">
    var ReactCSSTransitionGroup = React.addons.CSSTransitionGroup;

    var StatusBox = React.createClass({
      getInitialState: function() {
        return { data: [], slice: [] };
      },
      componentDidMount: function() {
        console.log('Mounting status box');
        var receiver = new WebSocket('ws://' + location.host + '/receive');
        receiver.onmessage = function(status) {
          var activeRoutes = status && status.data && _(status.data).isString() ? JSON.parse(status.data) : [];
          var userActiveRoutes = _(activeRoutes).filter(function(route) {
            return _(window.userRoutes).contains(route.routeAbbr);
          });
          console.log(activeRoutes, userActiveRoutes);
          this.setState({ data: userActiveRoutes });
        }.bind(this);
        api.getLastLocations(receiver.onmessage)
      },
      render: function() {
        return (
          <div className='status-box'>
            <StatusList slice={this.state.data} />
          </div>
        );
      }
    });
    var StatusList = React.createClass({
      render: function() {
        var statusNodes = this.props.slice.map(function(routeInfo, idx) {
          return (
            <Status key={routeInfo.busNum} routeInfo={routeInfo}></Status>
          );
        });
        return (
          <div className='status-list'>
            <ReactCSSTransitionGroup transitionName="fade">
              {statusNodes}
            </ReactCSSTransitionGroup>
          </div>
        );
      }
    });
    var Status = React.createClass({
      render: function() {
          return (
            <div className="info clearfix">
              <ul>
                <li className="adherence">
                  { this.props.routeInfo.adherence } 
                </li>
                <li className="timestamp">
                  { this.props.routeInfo.timestamp }
                </li>
                <li className="direction">
                  { this.props.routeInfo.routeDirection }
                </li>
                <li className="news">
                  <p>
                    { this.props.routeInfo.timePointName }
                  </p>
                </li>
              </ul>
            </div>
          );
      }
    });
      
    var Map = React.createClass({

      // initialize local variables
      getInitialState: function() {
        return {
          map : null,
          lines: {},
          show: false,
          markers : []
        };
      },
    
      // set some default values
      getDefaultProps: function() {
        return {
          initLat: 0,
          initLon: 0,
          initZoom: 4,
          width: 500,
          height: 500,
          points: [],
          lines:{},
          gmaps_api_key: '',
          gmaps_sensor: false
        }
      },
    
      // update geo-encoded markers
      updateMarkers : function(points) {
    
        var markers = this.state.markers;
        var map = this.state.map;
    
        // remove everything
        markers.forEach( function(marker) {
          marker.setMap(null);
        } );
    
        this.state.markers = [];
    
        // add new markers
        points.forEach( (function( point ) {
    
          var location = new google.maps.LatLng( point.latitude , point.longitude );
    
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            title: point.label
          });
    
          markers.push( marker );
    
        }) );
    
        this.setState( { markers : markers });
      },
    
      updateZoom: function (newZoom) {
        this.state.map.setZoom(newZoom)
      },
    
      updateCenter: function(newLat, newLon){
        var newCenter = new google.maps.LatLng(newLat, newLon)
        this.state.map.setCenter(newCenter)
      },
    
      render : function() {
        var style = {
          width: this.props.width,
          height: this.props.height,
          display: this.state.show ? 'block' : 'none'
        }
    
        return React.DOM.div({style:style})
      },

      updateTransitLayer: function() {

        var map = this.state.map;
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);
        var directionsService = new google.maps.DirectionsService();
        var currentLocation = new google.maps.LatLng(this.props.initLat, this.props.initLon);
        var request = {
          destination: "341 Larkspur St, Ann Arbor, MI",
          origin: currentLocation,
          waypoints: [
          //  {
          //    location:"Joplin, MO",
          //    stopover:false
          //  },{
          //    location:"Oklahoma City, OK",
          //    stopover:true
          //  }
          ],
          provideRouteAlternatives: true,
          travelMode: google.maps.TravelMode.TRANSIT,
          unitSystem: google.maps.UnitSystem.IMPERIAL
        };
        directionsService.route(request, function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(result);
          }
        });
      },
    
      componentDidMount : function() {
        var createMap = (function() {
          var mapOptions = {
            zoom: this.props.initZoom,
            center: new google.maps.LatLng( this.props.initLat , this.props.initLon ),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
    
          var map = new google.maps.Map( this.getDOMNode(), mapOptions);
          
          this.setState( { map : map } );
          this.updateTransitLayer();
    
          if( this.props.points ) this.updateMarkers(this.props.points);

          var $mapToggler = document.querySelector('#map-toggle-handler');
          $mapToggler.addEventListener('click', function(event) {
              this.setState({ show: !this.state.show });        
          }.bind(this));
        }).bind(this);
    
        if (typeof google !== 'undefined') {
          // scripts already loaded, create map immediately
          createMap()
        } else {
          if (!window.reactMapCallback) {
            // if this is the first time, load the scripts:
            var s =document.createElement('script');
            s.src = 'https://maps.googleapis.com/maps/api/js?key=' + this.props.gmaps_api_key + '&sensor=' + this.props.gmaps_sensor + '&callback=reactMapCallback';
            document.head.appendChild( s );
    
            // when the script has loaded, run all the callbacks
            window.reactMapCallbacks = []
            window.reactMapCallback = function(){
              while (window.reactMapCallbacks.length > 0)
                (window.reactMapCallbacks.shift())() // remove from front
            }
          }
    
          // add a callback to the end of the chain
          window.reactMapCallbacks.push(createMap)
        }
      },
    
      // update props (ignores the initial ones: initLat, initLon, initZoom)
      componentWillReceiveProps : function(props) {
        if( props.points ) this.updateMarkers(props.points);
      }
    
    });

    function init() {
      navigator.geolocation.getCurrentPosition(function(position) {
        window.userPosition = position;
        api.getNearbyStops(function(stopKeys) { 
          var points = stopKeys.map(function(stop) {
            return { latitude: stop.lat, longitude: stop.lng };
          });

          React.render(
            <Map points={points} initLat={position.coords.latitude} initLon={position.coords.longitude} initZoom={16} width='100%' height='100%' />,
            document.querySelector('#map')
          );
          var parsed;
          window.userRoutes = _(stopKeys).chain()
            .map(function(stopKey) {
              return stopKey.abbreviation;
            })
            .uniq()
            .value();
          React.render(
            <StatusBox />,
            document.querySelector('#status')
          );
        });
      });
      window.sender = new WebSocket('ws://' + location.host + '/send');
    }

    window.onload = init();
  </script>
  <script>

    function getParsedKey(key) {
      var keys = ['routeAbbr', 'stopID', 'directionID'];
      var values = key.split('.');
      return _(keys).object(values);
    }

    function getBusLocations(routes) {
      return _(routes).filter(function(route) {
        return route.routeAbbr
      });
    }

    navigator.geolocation.watchPosition(function(position) {
      window.userPosition = position;
      api.getNearbyStops(function(v) { console.log(v); })
    });

  </script>
</html>
