/* MIXINS */
body {
  font-family: "Gill Sans", Montserrat, Helvetica;
  margin: 0;
  position: relative; }

.status-box {
  position: relative;
  top: 0;
  left: 0;
  width: 1024px;
  margin: 0 auto;
  padding-top: 50px;
  height: 100%;
  -moz-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.map-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -moz-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: transform ease 250ms;
  -moz-transition: transform ease 250ms;
  -ms-transition: transform ease 250ms;
  -o-transition: transform ease 250ms;
  transition: transform ease 250ms; }

.visible {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.loading-text {
  position: relative;
  top: 50%;
  text-align: center; }

.config {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.8); }
  .config .nav-items {
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 0; }
    .config .nav-items li {
      display: inline-block;
      line-height: 50px;
      padding: 0px 20px;
      cursor: pointer; }
      .config .nav-items li:hover {
        background-color: white;
        color: black; }
    .config .nav-items.nav-items-left {
      position: absolute;
      left: 40px;
      top: 0; }
    .config .nav-items.nav-items-right {
      position: absolute;
      right: 40px;
      top: 0; }

.box {
  margin-top: 1em; }

main {
  font-size: 36px;
  line-height: 2em;
  width: 1024px;
  margin: 0 auto;
  overflow: visible; }
  @media only screen and (max-width: 720px) {
    main {
      width: 300px; } }

footer {
  width: 1024px;
  font-size: 24px;
  margin: 0 200px;
  position: fixed;
  height: 30px;
  bottom: 0; }

main .info {
  margin-top: 50px; }
  main .info ul {
    list-style-type: none; }

article {
  box-sizing: border-box;
  z-index: 2;
  left: 50%;
  top: 30%;
  position: absolute;
  width: 400px;
  height: auto;
  margin: -200px 0 0 -200px;
  background-color: white;
  padding: 2em;
  border-radius: 2em; }
  @media only screen and (max-width: 720px) {
    article {
      width: 300px;
      margin: -150px 0 0 -150px; } }
